@import url('https://fonts.googleapis.com/css2?family=Damion&family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
    --título: Nevis, sans-serif;
    --subtítulo: Damion, sans-serif;
    --texto-normal: Montserrat, sans-serif;
    --color: white;
    --second-color: #d19b6f;
    --animation-duration: 1s;
    --animation-delay: 0.6s;
}

* {
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: var(--color);
    font-family: var(--texto-normal);
    gap: 40%;
}

header p {
    font-size: 40px;
}

nav a {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    color: var(--color);
}

nav a.active {
    color: white;
}

nav a:not(.active):hover {
    color: var(--second-color);
}

.main {
    background-image: url(img/HeroImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color);
}

.home {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.text {
    margin-top: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    margin-bottom: 4%;
}

.text h1 {
    font-family: var(--título);
    font-size: 200px;
}

.text h2 {
    font-family: var(--subtítulo);
    font-size: 100px;
    animation: moveLeftA var(--animation-duration);
}
@keyframes moveLeftA {
    0% {
        opacity: 0;
        transform: translateX(60%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.home p {
    font-size: 60px;
}

.arrow {
    animation: moveUp var(--animation-duration) linear infinite;
}

@keyframes moveUp {
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(-10%);
    }
}

.desc {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    margin-top: 10%;
}

.desc-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-left: 2%;
}

.desc-text h3 {
    font-family: var(--título);
    font-size: 45px;
    color: var(--second-color);
}

.desc-text h4 {
    font-family: var(--subtítulo);
    font-size: 35px;
}

.desc-text img {
    margin-top: 1%;
}

.lorem {
    text-align: center;
    width: 70%;
    font-size: 23px;
    margin-top: 2%;
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20%;
    text-decoration: underline;
    text-decoration-color: var(--second-color);
    animation: moveLeftB 2s var(--animation-delay);
}

.phone p {
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    color: var(--second-color);
    
}

.phone img {
    height: 800px;
    width: 400px;
}

@keyframes moveLeftB {
    0% {
        opacity: 0;
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.location {
    background-image: url(img/Next\ Section.png);
    height: 700px;
    width: 100vw;
    background-size: 136vw, 129px;
}

.title {
    background: rgba(0, 0, 0, 0.4);
    height: 700px;
    width: 100vw;
    font-size: 130px;
    color: var(--second-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--título);
}

h7 {
    font-size: 45px;
    color: var(--color);
    font-family: var(--subtítulo);
}

.internet {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100vw;
    height: 75vh;
    justify-content: center;
    margin-top: 5%;
}

.shirt {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.shirt img {
    height: 500px;
    width: 500px;
}

.internet-text {
    font-family: var(--texto-normal);
    color: var(--second-color);
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wifi {
    height: 400px;
    width: 500px;
}

.we {
    color: black;
    font-size: 36px;
    font-family: var(--subtítulo);
}

.button {
    display: flex;
    color: var(--color);
    width: 35%;
    height: 30px;
    background: rgba(0, 0, 0, 0.4);
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: var(--texto-normal);
    cursor: pointer;
}

footer {
    background-color: #333;
    font-size: 25px;
    font-family: var(--texto-normal);
    color: var(--color);
}

.hours {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.address {
    display: flex;
    width: 42vw;
    gap: 11%;
}

.copy {
    color: var(--second-color);
}
